<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>什么都没找到!</title>
        <style>
            img {
                width: 375px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <img src="/3232aebebc19f9ee6fc184938c8df573c5f3e848a2bd94f1b.jpg" alt="404!"/>
    </body>
</html>
